{{!< layout/default}}
<div class="container-fluid">
  <iframe src="{{frontendApiUrl}}" width="100%" height="500px" style="border: 0"></iframe>
</div><!-- /.container -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js" charset="utf-8"></script>
<script type="text/javascript">
  // When we recieve data from iframe do something

  window.addEventListener('message', function (event) {
  console.log('Event happened', event);
  });
</script>
